ul {
  list-style-type: none;
  margin: auto;
  padding: auto;
  overflow: hidden;
  background-color: #943b32;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 17px 18px;
  text-decoration: none;
}

li a:hover {
  background-color: #8b3b33;
}
